<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./log/ecommerce_logs.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="org.myproject.ecommerce" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>